.hashArea__title {
  margin: 40px auto;
  text-align: center;
}

.w-100 {
  width: 100%;
}

.mt-24 {
  margin-top: 24px;
}
.flex-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ml-10 {
  margin-left: 10px;
}